@page "{id:long}"
@model TradingTools.Web.Pages.TradeGroupDetail.DetailModel
@{
}

<style scoped>
    .table.summary {
        width: 50%;
    }

        .table.summary tr {
            line-height: 10px;
            min-height: 10px;
            height: 10px;
        }

        .table.summary td {
            white-space: nowrap;
            width: 1%;
        }
</style>

<div>
    <h1>
        @Model.ViewModel.TradeGroup.Name <span class="round border border-secondary pl-2 pr-2 small">@Model.ViewModel.TradeGroup.TradeGroupState</span>
    </h1>
    <h4>@Model.ViewModel.TradeGroup.SymbolInfo?.Symbol (@Model.ViewModel.CurrentPrice @Model.ViewModel.TradeGroup.SymbolInfo?.QuoteAsset)</h4>
    <form method="post">
        <input type="hidden" name="groupId" value="@Model.ViewModel.TradeGroup.Id" />
        <input type="hidden" name="symbol" value="@Model.ViewModel.TradeGroup.SymbolInfo?.Symbol" />
        <input type="hidden" name="baseAsset" value="@Model.ViewModel.TradeGroup.BaseAsset" />

        <input type="submit" class="btn btn-primary" asp-page-handler="sync" value="Sync" />
        <input type="submit" class="btn btn-light" asp-page-handler="settradegroupstate" asp-route-state="InProgress" value="Set InProgress" />
        <input type="submit" class="btn btn-light" asp-page-handler="settradegroupstate" asp-route-state="Done" value="Set Done" />
    </form>
    <table class="table table-hover small summary">
        <tbody>
            <tr>
                <td>Buy Quantity</td>
                <td>@Model.ViewModel.BuyQuantity @Model.ViewModel.TradeGroup.SymbolInfo?.BaseAsset</td>
            </tr>
            <tr>
                <td>Sell Quantity</td>
                <td>@Model.ViewModel.SellQuantity @Model.ViewModel.TradeGroup.SymbolInfo?.BaseAsset</td>
            </tr>
            <tr>
                <td>Average Buy Price</td>
                <td>@Model.ViewModel.AverageBuyPrice @Model.ViewModel.TradeGroup.SymbolInfo?.QuoteAsset</td>
            </tr>
            <tr>
                <td>Average Sell Price</td>
                <td>@Model.ViewModel.AverageSellPrice @Model.ViewModel.TradeGroup.SymbolInfo?.QuoteAsset</td>
            </tr>
            <tr>
                <td>Average Cost</td>
                <td>@Model.ViewModel.AverageCost @Model.ViewModel.TradeGroup.SymbolInfo?.QuoteAsset</td>
            </tr>
            <tr>
                <td>Gain/Loss</td>
                <td>
                    @if (@Model.ViewModel.Gain >= 0)
                    {
                        <span class="bg-success text-light pl-2 pr-2">@Model.ViewModel.GainString</span>
                    }
                    else
                    {
                        <span class="bg-danger text-light pl-2 pr-2">@Model.ViewModel.GainString</span>
                    }

                </td>
            </tr>
            <tr>
                <td>Gain/Loss Quote Asset</td>
                <td>
                    @if (@Model.ViewModel.GainQuoteAsset >= 0)
                    {
                        <span class="bg-success text-light pl-2 pr-2">@Model.ViewModel.GainQuoteAssetString</span>
                    }
                    else
                    {
                        <span class="bg-danger text-light pl-2 pr-2">@Model.ViewModel.GainQuoteAssetString</span>
                    }

                </td>
            </tr>
            <tr>
                <td>Remaing Position</td>
                <td>@Model.ViewModel.RemaingPositionPercentageString</td>
            </tr>
        </tbody>
    </table>
</div>

<form method="post">
    <div class="d-inline-block">
        <button class="btn btn-danger" asp-page-handler="remove">Remove from group</button>
        <input type="submit" class="btn btn-light" asp-page-handler="settradestate" asp-route-state="Resolved" value="Set Resolved" />
        <input type="submit" class="btn btn-light" asp-page-handler="settradestate" asp-route-state="Pending" value="Set Pending" />
    </div>
    <input type="hidden" name="groupId" value="@Model.ViewModel.TradeGroup.Id" />
    <table class="table table-hover">
        <thead>
            <tr>
                <th></th>
                <th>Date</th>
                <th>Symbol</th>
                <th>Side</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Quote Quantity</th>
                <th>Commission</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ViewModel.Trades)
            {
                <tr>
                    <td>
                        <span class="round border border-secondary pl-2 pr-2 small">@item.Trade.TradeState</span>
                    </td>
                    <td><div class="d-block"><span>@item.Trade.TradeTime.ToString("u")</span> <div class="d-block small">@(Math.Round((@DateTime.Now - item.Trade.TradeTime).TotalDays))(days ago)</div></div></td>
                    <td>@item.Trade.Symbol</td>
                    <td>
                        @if (@item.Trade.IsBuyer)
                        {
                            <span class="bg-success text-light pl-2 pr-2">BUY</span>
                        }
                        else
                        {
                            <span class="bg-danger text-light pl-2 pr-2">SELL</span>
                        }
                    </td>
                    <td>
                        @item.Trade.Price @item.Trade.T2SymbolInfo?.QuoteAsset
                    </td>
                    <td>
                        @item.Trade.Quantity @item.Trade.T2SymbolInfo?.BaseAsset
                        <div class="d-block" style="font-size: 80%;">
                            @item.CurrentBaseAssetQuantity @item.Trade.T2SymbolInfo?.BaseAsset
                        </div>
                    </td>
                    <td>
                        @item.Trade.QuoteQuantity @item.Trade.T2SymbolInfo?.QuoteAsset
                        <div class="d-block" style="font-size: 80%;">
                            @item.CurrentQuoteAssetQuantity @item.Trade.T2SymbolInfo?.QuoteAsset
                        </div>
                    </td>
                    <td>@item.Trade.Commission @item.Trade.CommissionAsset</td>
                    <td><input name="AreCheckedForRemove" type="checkbox" value="@item.Trade.Id" /></td>
                </tr>
            }
        </tbody>
    </table>
</form>

@if (@Model.OutsideTrades?.Any() == true)
{
    <form asp-page-handler="assign" method="post">
        <input type="hidden" name="id" value="@Model.ViewModel.TradeGroup.Id" />
        <button class="btn btn-primary">Assign to group</button>
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>TradeTime</th>
                    <th>TradeGroup</th>
                    <th>Symbol</th>
                    <th>Side</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>QuoteQuantity</th>
                    <th>Commission</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var trade in Model.OutsideTrades)
                {
                    <tr>
                        <td>
                            <div>
                                <input name="AreChecked" type="checkbox" class="d-block" value="@trade.Id" />
                                <span class="round border border-secondary pl-2 pr-2 small">@trade.TradeState</span>
                            </div>
                        </td>
                        <td>@trade.TradeTime.ToString("u")<br /> <span class="small">@(Math.Round((@DateTime.Now - @trade.TradeTime).TotalDays))(days ago)</span></td>
                        <td><a asp-page="/TradeGroups/Detail" asp-route-id="@trade.T2TradeGroup.Id">@trade.T2TradeGroup.Name</a></td>
                        <td>@trade.Symbol</td>
                        <td>
                            @if (@trade.IsBuyer)
                            {
                                <span class="bg-success text-light pl-2 pr-2">BUY</span>
                            }
                            else
                            {
                                <span class="bg-danger text-light pl-2 pr-2">SELL</span>
                            }
                        </td>
                        <td>@trade.Price @trade.T2SymbolInfo.QuoteAsset</td>
                        <td>@trade.Quantity</td>
                        <td>@trade.QuoteQuantity</td>
                        <td>@trade.Commission @trade.CommissionAsset</td>
                    </tr>
                }
            </tbody>
        </table>
    </form>
}

