@page
@model TradingTools.Web.Pages.TradeGroups.IndexModel
@{
}

<div>
    <a asp-page="./create" class="btn btn-primary">Create New Group</a>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Symbol</th>
                <th>Trades count</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var group in Model.TradeGroups)
            {
                <tr>
                    <td><a asp-page="/TradeGroups/Detail" asp-route-id="@group.Id">@group.Name</a></td>
                    <td>@(group.SymbolInfo != null ? group.SymbolInfo.Symbol : group.BaseAsset)</td>
                    <td>@group.Trades.Count</td>
                    <td>@group.Description</td>
                </tr>
            }
        </tbody>
    </table>
</div>