@page
@model TradingTools.Web.Pages.Trades.IndexModel
@{

}

<table class="table">
    <thead>
        <tr>
            <th>TradeTime</th>
            <th>TradeGroup</th>
            <th>Symbol</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>QuoteQuantity</th>
            <th>Commission</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var trade in Model.Trades)
        {
        <tr>
            <td>@trade.TradeTime</td>
            <td><a asp-page="/TradeGroups/Detail" asp-route-id="@trade.T2TradeGroup.Id">@trade.T2TradeGroup.Name</a></td>
            <td>@trade.Symbol</td>
            <td>@trade.Price @trade.T2SymbolInfo.QuoteAsset</td>
            <td>@trade.Quantity</td>
            <td>@trade.QuoteQuantity</td>
            <td>@trade.Commission @trade.CommissionAsset</td>
        </tr>
        }
    </tbody>
</table>
