@page "{id:long}"
@model TradingTools.Web.Pages.TradeGroupDetailModel
@{
}

<h1>
    @Model.TradeGroup.Name
</h1>
<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Symbol</th>
            <th>Side</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Quote Quantity</th>
            <th>Commission</th>
        </tr>
    </thead>
    <tbody>
        @*@foreach (var trade in Model.TradeGroup.Trades)
        {
            <tr>
                <td>@trade.TradeTime.ToString("u")</td>
                <td>@trade.Symbol</td>
                <td>
                    @if (@trade.IsBuyer)
                    {
                        <span class="bg-success text-light pl-2 pr-2">BUY</span>
                    }
                    else
                    {
                        <span class="bg-danger text-light pl-2 pr-2">SELL</span>
                    }
                </td>
                <td>@trade.Price @trade.T2SymbolInfo.QuoteAsset</td>
                <td>@trade.Quantity @trade.T2SymbolInfo.BaseAsset</td>
                <td>@trade.QuoteQuantity @trade.T2SymbolInfo.QuoteAsset</td>
                <td>@trade.Commission @trade.CommissionAsset</td>
            </tr>
        }*@
    </tbody>
</table>