@page
@model TradingTools.Web.Pages.Portfolio.IndexModel
@{
}

<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Coin</th>
            <th>Total Value</th>
            <th>Total Quote Value</th>
            <th>Free</th>
            <th>Locked</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @for(var i = 0; i < Model.Coins.Count(); i++)
        {
        <tr>
            <td>@(i+1).</td>
            <td>@Model.Coins[i].Coin.Coin</td>
            <td>
                @Model.Coins[i].Coin.TotalDollarValue @Model.Coins[i].Coin.TotalDollarAssetName
                <div class="d-block" style="font-size: 80%;">
                     <span>TIMELINE</span>
                     <span class="text-success">@Model.Coins[i].CurrentTimeLineDollarValue @Model.Coins[i].Coin.TotalDollarAssetName</span>
                </div>
            </td>
            <td>@Model.Coins[i].Coin.TotalQuoteValue @Model.Coins[i].Coin.TotalQuoteAssetName</td>
            <td>@Model.Coins[i].Coin.Free</td>
            <td>

                @Model.Coins[i].Coin.Locked
                <div class="d-block" style="font-size: 80%;">
                    <span class="text-light bg-success">@Math.Round((100*(@Model.Coins[i].Coin.Locked/ (@Model.Coins[i].Coin.Locked + @Model.Coins[i].Coin.Free))), 2)%</span>    
                </div>
            </td>
            <td>@Model.Coins[i].Coin.CoinName</td>
        </tr>
        }
    </tbody>
</table>
